.green-background{
    background-color: green;
    color: white;
}
.yellow-background{
    background-color: yellow;
    color: blue;
}
.red-background{
    background-color: red;
    color: black;
}

h3{
    display: none;
}

#story {
  display: none;
}